* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  outline: 0;
  text-decoration: none;
}

:root {
  --color-bg: #f69122;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 98%;
  --container-width-md: 95%;
  --container-width-sm: 98%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,h5,h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}